.cardMain {
  background: rgb(255, 255, 255);
  width: 285px;
  height: 264px;
  border-radius: 10px;
  box-shadow: 0px 3px 20px 0px rgba(21, 57, 90, 0.08);
  list-style: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.cardMain:not(:last-child) {
  margin-bottom: 22px;
}

.cardTitle {
  font-size: 18px;
  font-family: "HelveticaNeueCyr";
  color: rgb(40, 40, 40);
  font-weight: bold;
  line-height: 1.556;
  text-align: center;
  margin-top: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20px;
  padding-right: 20px;
}

.inputTitle {
  font-size: 18px;
  font-family: "HelveticaNeueCyr";
  color: rgb(40, 40, 40);
  font-weight: bold;
  line-height: 1.556;
  text-align: center;
  margin-top: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  outline: none;
}

.inputTitleEdit {
  font-size: 18px;
  font-family: "HelveticaNeueCyr";
  color: rgb(40, 40, 40);
  font-weight: bold;
  line-height: 1.556;
  text-align: center;
  margin-top: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.cardDate {
  font-size: 15px;
  font-family: "HelveticaNeueCyr";
  color: rgb(185, 195, 200);
  line-height: 0.733;
  padding-right: 5px;
}
.textCont {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 45px;
}
.cardSelect {
  margin-left: 15px;
  width: 120px;
  font-size: 15px;
  font-family: "HelveticaNeueCyr";
  border: none;
  color: rgb(185, 195, 200);
}

.cardStarIcon {
  margin-right: 15px;
}
.hardLevelContainer {
  display: flex;
  justify-content: space-between;
  outline: none;
}
.hardLevelContainer div {
  border: none;
  box-shadow: none;
}
.hardLevelContainer > div > div:nth-child(3) {
  border: 1px solid hsl(0, 0%, 80%);
  position: absolute;
  top: -10px;
  left: -10px;
}
.hardLevelContainer > div > div {
  padding: 0;
  margin: 0;
}
.hardLevelContainer > div > div:nth-child(3) > div {
  padding: 0;
  margin: 0;
}
starContainer:hover {
  background-color: #00d7ff;
  box-shadow: 15px 15px 15px 15px #00d7ff;
}
.cardStarIcon:hover {
  filter: drop-shadow(15px 15px 15px 15px #00d7ff);
  filter: url(../../assets/images/icons/star.svg) invert(0.3) sepia(0)
    saturate(1) hue-rotate(0deg) brightness(1);
  opacity: 0.3;
  box-shadow: 15px 15px 15px 15px #00d7ff;
}
.cardStyleStar:hover {
  box-shadow: 0px 3px 7px 0px #00d7ff;
}
.starContainer {
  box-shadow: 0px 3px 7px 0px #00d7ff;
}
.cardSelectCategory {
  font-size: 11px;
  font-family: "HelveticaNeueCyr";
  color: rgb(182, 196, 202);
  text-transform: uppercase;
  line-height: 1;
}
.cardSelectCategory div {
  border: none;
  box-shadow: none;
}
.cardSelectCategory > div > div {
  padding: 0;
  margin: 0;
}
.cardSelectCategory > div > div:nth-child(3) > div {
  padding: 0;
  margin: 0;
}
.kek > div > div > div > div:last-child {
  background-color: transparent;
}
.kek > div > div > div:last-child > span {
  display: none;
}
.kek > div > div > div:last-child > div > svg {
  display: none;
}
.cardSelectCategory > div:nth-child(3) {
  border: 1px solid hsl(0, 0%, 80%);
}
.hardLevelContainer div {
  border: none;
  box-shadow: none;
}
.hardLevelContainer > div > div {
  padding: 0;
  margin: 0;
}
.hardLevelContainer > div > div:nth-child(3) > div {
  padding: 0;
  margin: 0;
}
.cardSelectCategory div {
  border: none;
}
