.cardMain {
  background: rgb(255, 255, 255);
  width: 285px;
  height: 264px;
  border-radius: 10px;
  box-shadow: 0px 3px 20px 0px rgba(21, 57, 90, 0.08);
  list-style: none;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
}

.cardMainActive{
  background: rgb(255, 255, 255);
  width: 285px;
  height: 264px;
  border-radius: 10px;
  box-shadow: 0px 3px 20px 0px rgba(21, 57, 90, 0.08);
  list-style: none;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  border: #00d7ff solid 2px;
}

/* .cardMain:not(:last-child) {
  margin-bottom: 22px;
} */

.indicatorSeparator {
  height: 22px;
  width: 1px;
  background-color: rgb(123, 138, 164);
}

.cardTitle {
  font-size: 18px;
  font-family: 'HelveticaNeueCyr';
  color: rgb(40, 40, 40);
  font-weight: bold;
  line-height: 1.556;
  text-align: center;
  margin-top: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20px;
  padding-right: 20px;
}

.inputTitle {
  font-size: 18px;
  font-family: 'HelveticaNeueCyr';
  color: rgb(40, 40, 40);
  font-weight: bold;
  line-height: 1.556;
  text-align: center;
  margin-top: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  outline: none;
  margin: 0 auto;
  display: block;
  background-color: white;
  position: relative;
  margin-bottom: 16px;
}

.inputTitleEdit {
  font-size: 18px;
  font-family: 'HelveticaNeueCyr';
  color: rgb(40, 40, 40);
  font-weight: bold;
  line-height: 1.556;
  text-align: center;
  margin-top: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #00d7ff;
  margin: 0 auto;
  display: block;
  margin-bottom: 16px;
}

.cardDate {
  font-size: 15px;
  font-family: 'HelveticaNeueCyr';
  color: rgb(185, 195, 200);
  padding-right: 10px;
}
.textCont {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 45px;
}

.textCont >div>input {
border:none;
font-size: 15px;
font-family: 'HelveticaNeueCyr';
color: rgb(185, 195, 200);
line-height: 0.733;
padding-right: 5px;
width:130px;
border:none;

}

.textCont >div>input:focus{
  outline-offset:none;
  outline: none;
}
.cardFireIcon{
   position: relative;
   top: 2px;
}

.cardSelect {
  margin-left: 15px;
  width: 120px;
  font-size: 15px;
  font-family: 'HelveticaNeueCyr';
  border: none;
  color: rgb(185, 195, 200);
}

.cardSelect > div {
  background-color: white;
}

.cardSelect > div > div:last-child > span,
.cardSelect > div > div:last-child > div > svg {
  display: none;
}

.cardStarIcon {
  margin-right: 30px;
  margin-top: 5px;
}
.hardLevelContainer {
  display: flex;
  justify-content: space-between;
  outline: none;
  margin-bottom: 30px;
}
.hardLevelContainer div {
  border: none;
  box-shadow: none;
}
.hardLevelContainer > div > div:nth-child(3) {
  border: 1px solid hsl(0, 0%, 80%);
  position: absolute;
  top: -10px;
  left: -10px;
}
.hardLevelContainer > div > div {
  padding: 0;
  margin: 0;
}
.hardLevelContainer > div > div:nth-child(3) > div {
  padding: 0;
  margin: 0;
}

.starIcon {
  fill: #b9c3c8;
}

.starContainer:hover .starIcon {
  fill: #00d7ff;
}
.starIconActiv {
  fill: #00d7ff;
}

.starContainer:hover .starIconActiv {
  fill: #b9c3c8;
}

.starContainer {
  margin-right: 24px;
  background-color: transparent;
  border: none;
}
.cardSelectCategory {
  font-size: 11px;
  font-family: 'HelveticaNeueCyr';
  color: rgb(182, 196, 202);
  text-transform: uppercase;
  line-height: 1;
}

.cardSelectCategory div {
  border: none;
  box-shadow: none;
}
.cardSelectCategory > div > div {
  padding: 0;
  margin: 0;
}

.cardSelectCategory > div > div > div {
  color: black;
}

.cardSelectCategory > div > div:nth-child(3) > div {
  padding: 0;
  margin: 0;
}
.kek {
  display: inline-block;
  width: 150px;
}

.kek > div > div > div > div:last-child {
  background-color: transparent;
}
.kek > div > div > div:last-child > span {
  display: none;
}
.kek > div > div > div:last-child > div > svg {
  display: none;
  position: absolute;
}
.cardSelectCategory > div:nth-child(3) {
  border: 1px solid hsl(0, 0%, 80%);
}
/* .hardLevelContainer div {
  border: none;
  box-shadow: none;
}
.hardLevelContainer > div > div {
  padding: 0;
  margin: 0;
}
.hardLevelContainer > div > div:nth-child(3) > div {
  padding: 0;
  margin: 0;
}
.cardSelectCategory div {
  border: none;
} */

.challengeCardMain {
  border-radius: 10px;
  background-color: rgb(32, 57, 90);
  box-shadow: 0px 3px 20px 0px rgba(21, 57, 90, 0.08);
  width: 285px;
  height: 264px;
  border-radius: 10px;
  box-shadow: 0px 3px 20px 0px rgba(21, 57, 90, 0.08);
  list-style: none;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
}
.challengeHardLevelContainer {
  display: flex;
  justify-content: space-between;
  outline: none;
}
.challengeHardLevelContainer div {
  border: none;
  box-shadow: none;
}
.challengeHardLevelContainer > div > div:nth-child(3) {
  border: 1px solid hsl(0, 0%, 80%);
  position: absolute;
  top: -10px;
  left: -10px;
}
.challengeHardLevelContainer > div > div {
  padding: 0;
  margin: 0;
}
.challengeHardLevelContainer > div > div:nth-child(3) > div {
  padding: 0;
  margin: 0;
}

.challengeHardLevelContainer > div > div > div {
  background-color: rgb(32, 57, 90);
  padding-left: 10px;
}
.challengeHardLevelContainer > div > div > div > div > div:nth-child(1) {
  color: rgb(185, 195, 200);
}
.challengeHardLevelContainer > div > div > div > div > div:last-child {
  background-color: transparent;
}
.challengeHardLevelContainer > div > div > div > div:last-child > span {
  display: none;
}
.challengeHardLevelContainer > div > div > div > div:last-child > div > svg {
  display: none;
}
.cardSelectCategory > div:nth-child(3) {
  border: 1px solid hsl(0, 0%, 80%);
}
.viewTrophy {
  fill: #00d7ff;
  width: 20px;
  height: 20px;
  filter: drop-shadow(0 6px 8px rgba(0, 215, 255, 0.5));
  margin-top: 10px;
}
.challenge {
  font-size: 13px;
  font-family: 'HelveticaNeueCyr';
  color: rgb(123, 138, 164);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.846;
  padding-top: 30px;
  text-align: center;
}
.challengrCardTitle {
  font-size: 18px;
  font-family: 'HelveticaNeueCyr';
  color: white;
  font-weight: bold;
  line-height: 1.556;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20px;
  padding-right: 20px;
}
.container {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
}
.imgCont {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.imgCont span {
  background-color: rgb(123, 138, 164);
  margin-top: 4px;
  margin-bottom: 10px;
}
.bottomWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnWrap {
  margin-right: 20px;
}
.btn {
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-family: 'HelveticaNeueCyr';
  color: rgb(0, 215, 255);
  text-transform: uppercase;
  line-height: 0.733;
  padding-right: 25px;
  padding-left: 6px;
  text-align: center;
}
.btnDel {
  background-color: transparent;
  border: none;
  padding-right: 3px;
}
.sel {
  width: 160px;
}
.sel > div > div > div > div:last-child {
  background-color: transparent;
}
.sel > div > div > div:last-child > span {
  display: none;
}
.sel > div > div > div:last-child > div > svg {
  display: none;
}
.delite {
  fill: #da0837;
  background-color: transparent;
}
.delite:hover {
  fill: #aa273b;
}

.Btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
}

.edit,
.save {
  fill: #00d7ff;
}

.delit {
  fill: #da0837;
}

.done {
  fill: #24d40c;
}
.editBtn:hover .edit,
.saveBtn:hover .save {
  fill: #47aad5;
}
.deliteBtn:hover .delit {
  fill: #aa273b;
}

.doneBtn:hover .done {
  fill: #439945;
}
