.completeModalImage {
  margin: 0 auto;
  height: 190px;
  width: 230px;
  background: center no-repeat;
  background-image: url('../../../assets/images/complete-modal/award-2-02.svg');
}

.completeModalTitle {
  text-align: center;
  font-family: 'HelveticaNeueCyr', Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.9px;
  color: rgb(40, 40, 40);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20px;
  padding-right: 20px;
}

.completeModalTitleSpan {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: underline;
  text-transform: none;
  color: #00d7ff;
  font-size: 12px;
  font-stretch: normal;
  font-weight: 600;
}

.completeModalText {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'HelveticaNeueCyr', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.73;
  letter-spacing: 1.4px;
  text-align: left;
  color: #7b8aa4;
  width: 90px;
  height: 20px;
}
